<html>
<head>
{% for jsPath in altamiraJSLibraries %}
<script type='text/javascript' src='{{asset(jsPath)}}'></script>
{% endfor %}

{% if altamiraCSS is not null %}
<link rel='stylesheet' type='text/css' href='{{asset(altamiraCSS)}}'></link>
{% endif %}
</head>
<body>

{% for chart in altamiraCharts %}

{{ chart|raw }}

{% endfor %}

{{ altamiraScripts|raw }}
</body>
</html>
