<html>
<head>
{% include 'MalwarebytesAltamiraBundle:Default:altamira_libs.html.twig' %}
</head>
<body>

{% for chart in altamiraCharts %}

{{ chart|raw }}

{% endfor %}

{{ altamiraScripts|raw }}
</body>
</html>
